version: '3.7'

services:
  db:
    image: postgres:12.0-alpine
    container_name: codeine-db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=codeine4103
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=codeine_db
    ports:
      - "5432:5432"  
      
  pgadmin:
      image: dpage/pgadmin4
      container_name: codeine-pgadmin #you can change this
      depends_on:
        - db
      ports:
        - "5051:80"
      environment:
        PGADMIN_DEFAULT_EMAIL: codeine4103@gmail.com
        PGADMIN_DEFAULT_PASSWORD: password
      restart: always

volumes: 
  postgres_data: